@model SurveyResponse
@{
    ViewData["Title"] = "Take Survey";
}

<div class="rounded bg-secondary p-3 mb-3">@Html.Raw(Model.Survey.Description)</div>

@{
    var index = 0;
}
<form method="post">
    <input type="hidden" name="surveyId" valeu="@Model.SurveyId" />
    @for (int i = 0; i < Model.Answers.Count; ++i)
    {
        var answer = Model.Answers[i];
        var question = answer.Question;
        <input type="hidden" asp-for="Answers[i].QuestionId">
        if (question.Type == QuestionType.Section)
        {
            <div class="rounded bg-secondary p-3 mb-3">
                @Html.Raw(question.Description)
                <input type="hidden" asp-for="Answers[i].Text" value="">
            </div>
        }
        else
        {
            <div class="card mb-3">
                <div class="card-header d-flex align-items-center">
                    @if (question.Type != QuestionType.Section)
                    {
                        <span>@(++index)</span>
                    }
                </div>
                <div class="card-body">
                    <div class="card-title">@Html.Raw(question.Description)</div>
                    @if (question.Type == QuestionType.Choice)
                    {
                        if (question.MaxSelection == 1)
                        {
                            <ul class="list-group list-group-flush">
                                @for (int j = 0; j < answer.Selections.Count; ++j)
                                {
                                    <li class="list-group-item">
                                        <div class="form-check">
                                            <input type="radio" asp-for="Answers[i].SingleSelection" value="@question.Choices[j]"
                               class="form-check-input highlight" id="a-@i-@j" required="@(question.MinSelection > 0)">
                                            <label for="a-@i-@j" class="form-check-label highlight d-block">
                                                @question.Choices[j]
                                            </label>
                                        </div>
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <ul class="list-group list-group-flush">
                                @for (int j = 0; j < answer.Selections.Count; ++j)
                                {
                                    <li class="list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" asp-for="Answers[i].Selections[j]" class="form-check-input highlight">
                                            <label asp-for="Answers[i].Selections[j]" class="form-check-label highlight d-block">
                                                @question.Choices[j]
                                            </label>
                                        </div>
                                    </li>
                                }
                            </ul>
                        }
                    }
                    else if (question.Type == QuestionType.Rating)
                    {
                        @question.MinRating
                        @for (int j = question.MinRating; j <= question.MaxRating; ++j)
                        {
                            <input type="radio" asp-for="Answers[i].Rating" value="@j">
                        }
                        @question.MaxRating

                        if (question.IncludeNotApplicable)
                        {
                            <input class="ms-3" type="checkbox" asp-for="Answers[i].NotApplicable"> <text>N/A</text>
                        }
                    }
                    else if (question.TextLength <= 60)
                    {
                        <input asp-for="Answers[i].Text" class="form-control">
                    }
                    else
                    {
                        <textarea asp-for="Answers[i].Text" class="form-control"
                      rows="@(Math.Ceiling(question.TextLength/60.0))"></textarea>
                    }
                </div>
            </div>
        }
    }
    <button type="submit" class="btn btn-primary">Finish</button>
</form>

@section Scripts{
    <script src="https://cdn.tiny.cloud/1/4jeuqf3mhgytuk82mowljcxt0pbcbem4ivn5xorph63kjcfg/tinymce/6/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script src="~/js/tinymce-options.js"></script>
    <script>
        $(function () {
            var highlight = "text-bg-success";
            $(".highlight").change(function () {
                if ($(this).is(":checked")) {
                    $(this).closest("li").addClass(highlight);
                    // radio button is tricky because deselection does not generate a change() event -- this kind of makes
                    // sense if we think of "change" as applying to the radio button group instead of individual buttons.
                    if ($(this).attr("type") == "radio") {
                        var name = $(this).attr("name");
                        $(`input[name='${name}']`).filter(":not(:checked)").closest("li").removeClass(highlight);
                    }
                }
                else {
                    $(this).closest("li").removeClass(highlight);
                }
            });
            tinymce.init(tinymceOptions.minimal("textarea", 200));
        });
    </script>
}