@model Survey
@{
    ViewData["Title"] = "Survey Summary";
    string countClasses(int count) => count > 0 ? "badge text-bg-primary clickable me-2" : "badge text-bg-secondary me-2";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item d-none d-lg-block"><a asp-controller="Survey" asp-action="Index">Surveys</a></li>
        <li class="breadcrumb-item d-none d-lg-block"><a asp-controller="Survey" asp-action="View" asp-route-id="@Model.Id">@Model.Name</a></li>
        <li class="breadcrumb-item active">Response Summary</li>
    </ol>
</nav>

@{
    var index = 0;
}
@foreach (var question in ViewBag.Questions)
{
    if (question.Type == QuestionType.Section)
    {
        <div class="rounded bg-secondary p-3 mb-3">
            @Html.Raw(question.Description)
        </div>
    }
    else
    {
        <div class="card mb-3">
            <div class="card-header d-flex align-items-center">
                @if (question.Type != QuestionType.Section)
                {
                    <span>@(++index)</span>
                }
            </div>
            <div class="card-body">
                <div class="card-title">@Html.Raw(question.Description)</div>
                @if (question.Type == QuestionType.Choice)
                {
                    var answers = (List<SurveyAnswer>)ViewBag.AnswersByQuestion[question.Id];
                    <ul class="list-group list-group-flush">
                        @for (int i = 0; i < question.Choices.Count; ++i)
                        {
                            <li class="list-group-item">
                                @{
                                    var count = question.MaxSelection == 1
                                    ? answers.Where(a => a.SingleSelection == question.Choices[i]).Count()
                                    : answers.Where(a => a.Selections[i]).Count();
                                }
                                <span class="@countClasses(count)" data-question="@question.Id" data-selection="@i">@count</span>
                                @question.Choices[i]
                            </li>
                        }
                    </ul>
                }
                else if (question.Type == QuestionType.Rating)
                {
                    var answers = (List<SurveyAnswer>)ViewBag.AnswersByQuestion[question.Id];
                    <ul class="list-group list-group-flush">
                        @for (int i = question.MinRating; i <= question.MaxRating; ++i)
                        {
                            var count = answers.Where(a => a.Rating == i).Count();
                            <li class="list-group-item">
                                <span class="@countClasses(count)" data-question="@question.Id" data-selection="@i">@count</span>
                                <span>@i</span>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    var answers = ViewBag.AnswersByQuestion[question.Id];
                    <ul class="list-group list-group-flush">
                        @foreach (var answer in answers)
                        {
                            if (!string.IsNullOrWhiteSpace(answer.Text))
                            {
                                <li class="list-group-item">
                                    <a asp-controller="Response" asp-action="View" asp-route-id="@answer.ResponseId"
                   class="me-2"><i class="bi bi-card-checklist"></i></a>
                                    @answer.Text
                                </li>
                            }
                        }
                    </ul>
                }
            </div>
        </div>
    }
}

<div id="resmodal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <ul id="reslist" class="list-group list-group-flush">
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            const resmodal = new bootstrap.Modal('#resmodal');
            $(".clickable").click(function () {
                $.ajax({
                    url: "/survey/response/find",
                    data: {
                        questionId: $(this).attr("data-question"),
                        selection: $(this).attr("data-selection")
                    },
                    success: function (results) {
                        var items = results.map(res => $("<li class='list-group-item'><a href='/survey/response/view/"
                            + res.id + "'>" + new Date(res.timeSubmitted).toLocaleString() + "</a></li>"));
                        $("#reslist").empty().append(items);
                        resmodal.show();
                    }
                });
            });
        });
    </script>
}