@model Survey
@{
    ViewData["Title"] = "Survey Summary";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Survey" asp-action="Index">Surveys</a></li>
        <li class="breadcrumb-item"><a asp-controller="Survey" asp-action="View" asp-route-id="@Model.Id">@Model.Name</a></li>
        <li class="breadcrumb-item active">Response Summary</li>
    </ol>
</nav>

@{
    var index = 0;
}
@foreach (var question in ViewBag.Questions)
{
    if (question.Type == QuestionType.Section)
    {
        <div class="rounded bg-secondary p-3 mb-3">
            @Html.Raw(question.Description)
        </div>
    }
    else
    {
        <div class="card mb-3">
            <div class="card-header d-flex align-items-center">
                @if (question.Type != QuestionType.Section)
                {
                    <span>@(++index)</span>
                }
            </div>
            <div class="card-body">
                <div class="card-title">@Html.Raw(question.Description)</div>
                @if (question.Type == QuestionType.Choice)
                {
                    var answers = (List<SurveyAnswer>)ViewBag.AnswersByQuestion[question.Id];
                    <ul class="list-group list-group-flush">
                        @for (int i = 0; i < question.Choices.Count; ++i)
                        {
                            <li class="list-group-item">
                                @if (question.MaxSelection == 1)
                                {
                                    <span class="badge text-bg-primary me-2">
                                        @answers.Where(a => a.SingleSelection == question.Choices[i]).Count()
                                    </span>
                                }
                                else
                                {
                                    @answers.Where(a => a.Selections[i]).Count()
                                }
                                @question.Choices[i]
                            </li>
                        }
                    </ul>
                }
                else if (question.Type == QuestionType.Rating)
                {
                    var answers = (List<SurveyAnswer>)ViewBag.AnswersByQuestion[question.Id];
                    <ul class="list-group list-group-flush">
                        @for (int i = question.MinRating; i <= question.MaxRating; ++i)
                        {
                            <li class="list-group-item">
                                <span class="badge text-bg-primary me-2">@answers.Where(a => a.Rating == i).Count()</span>
                                <span>@i</span>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    var answers = ViewBag.AnswersByQuestion[question.Id];
                    <ul class="list-group list-group-flush">
                        @foreach (var answer in answers)
                        {
                            <li class="list-group-item">
                                <a asp-controller="Response" asp-action="View" asp-route-id="@answer.ResponseId"
                   class="me-2"><i class="bi bi-card-checklist"></i></a>
                                @answer.Text
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    }
}
