@model PageRevision
@{
    ViewData["Title"] = "Page Revisions";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Pages</a></li>
        <li class="breadcrumb-item"><a asp-action="View" asp-route-id="@ViewBag.Page.Id">@ViewBag.Page.Subject</a></li>
        <li class="breadcrumb-item active me-auto">Revisions</li>
        @if (ViewBag.Version == ViewBag.Page.Version)
        {
            <li>
                <a asp-action="SaveRevision" asp-route-id="@ViewBag.Page.Id"
               class="btn btn-outline-primary btn-sm" title="Save Current Version">
                    <i class="bi bi-archive-fill"></i>
                </a>
            </li>
        }
        else
        {
            <li>
                <a asp-action="RevertToRevision" asp-route-id="@ViewBag.Page.Id" asp-route-version="@ViewBag.Version"
               class="btn btn-outline-primary btn-sm" title="Revert to This Version">
                    <i class="bi bi-arrow-counterclockwise"></i>
                </a>
            </li>
        }
    </ol>
</nav>

<div class="d-inline-flex">
    <select class="form-select mb-3">
        @if (ViewBag.Version == ViewBag.Page.Version)
        {
            <option value="@ViewBag.Page.Version" selected>Current</option>
        }
        else
        {
            <option value="@ViewBag.Page.Version">Current</option>
        }
        @foreach (var revision in ViewBag.Revisions)
        {
            if (revision.Version == ViewBag.Version)
            {
                <option value="@revision.Version" selected>
                    @revision.TimeCreated.ToLocalTime().ToString("g") - @revision.Subject
                </option>
            }
            else
            {
                <option value="@revision.Version">
                    @revision.TimeCreated.ToLocalTime().ToString("g") - @revision.Subject
                </option>
            }
        }
    </select>
</div>

<div class="p-3 border rounded">
    @Html.Raw(Model.Content)
</div>

@section Scripts{
    <script>
        $(function() {
            $("select").change(function() {
                window.location.href = `@Model.PageId?version=${$(this).val()}`;
            });
        });
    </script>
}