@inject IAuthorizationService AuthorizationService
@model List<Survey>
@{
    ViewData["Title"] = "Surveys";
}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active me-auto">Surveys</li>
        @if ((await AuthorizationService.AuthorizeAsync(User, Constants.Policy.CanWrite)).Succeeded)
        {
            <li>
                <a asp-action="Add" class="btn btn-outline-primary btn-sm" title="Add Survey">
                    <i class="bi bi-plus-lg"></i>
                </a>
            </li>
        }
    </ol>
</nav>

@if (Model.Count > 0)
{
    <table class="table table-striped align-middle">
        <thead>
            <tr><th>Name</th><th>Publish</th><th>Close</th><th>Responses</th><th></th></tr>
        </thead>
        <tbody>
            @foreach (var survey in Model)
            {
                <tr>
                    <td>@survey.Name</td>
                    <td>
                        @if (survey.TimePublished == null)
                        {
                            <a asp-action="Publish" asp-route-id="@survey.Id">Publish</a>
                        }
                        else if (survey.TimePublished > DateTime.UtcNow)
                        {
                            <a asp-action="Publish" asp-route-id="@survey.Id">@survey.TimePublished?.ToLocalTime().ToString("d")</a>
                        }
                        else
                        {
                            <text>@survey.TimePublished?.ToLocalTime().ToString("d")</text>
                        }
                    </td>
                    <td>
                        @if (survey.TimeClosed == null)
                        {
                            <a asp-action="Close" asp-route-id="@survey.Id">Close</a>
                        }
                        else if (survey.TimeClosed > DateTime.UtcNow)
                        {
                            <a asp-action="Close" asp-route-id="@survey.Id">@survey.TimeClosed?.ToLocalTime().ToString("d")</a>
                        }
                        else
                        {
                            <text>@survey.TimeClosed?.ToLocalTime().ToString("d")</text>
                        }
                    </td>
                    <td>@survey.NumOfCompletedResponses / @survey.NumOfResponses</td>
                    <td>
                        @if ((await AuthorizationService.AuthorizeAsync(User, Constants.Policy.CanWrite)).Succeeded)
                        {
                            <a asp-action="Edit" asp-route-id="@survey.Id" class="btn btn-outline-primary btn-sm">
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}