@inject IAuthorizationService AuthorizationService
@model List<Survey>
@{
    ViewData["Title"] = "Surveys";
}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active me-auto">Surveys</li>
        @if ((await AuthorizationService.AuthorizeAsync(User, Constants.Policy.CanWrite)).Succeeded)
        {
            <li>
                <a asp-action="Add" class="btn btn-outline-primary btn-sm" title="Add Survey">
                    <i class="bi bi-plus-lg"></i>
                </a>
            </li>
        }
    </ol>
</nav>

@if (Model.Count > 0)
{
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th>Name</th>
                <th class="d-none d-lg-table-cell">Publish Date</th>
                <th class="d-none d-lg-table-cell">Close Date</th>
                <th>Responses</th>
                @if ((await AuthorizationService.AuthorizeAsync(User, Constants.Policy.CanWrite)).Succeeded)
                {
                    <th class="d-none d-lg-table-cell"></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var survey in Model)
            {
                <tr>
                    <td>
                        <a asp-action="View" asp-route-id="@survey.Id">@survey.Name</a>
                    </td>
                    <td class="d-none d-lg-table-cell">
                        @if (survey.TimePublished.HasValue)
                        {
                            var color = survey.IsPublished ? "" : "text-warning";
                            <span class="@color">@survey.TimePublished?.ToLocalTime().ToString("d")</span>
                        }
                    </td>
                    <td class="d-none d-lg-table-cell">
                        @if (survey.TimeClosed.HasValue)
                        {
                            var color = survey.IsClosed ? "" : "text-warning";
                            <span class="@color">@survey.TimeClosed?.ToLocalTime().ToString("d")</span>
                        }
                    </td>
                    <td>@survey.ResponseCount</td>
                    <td class="d-none d-lg-table-cell">
                        @if ((await AuthorizationService.AuthorizeAsync(User, Constants.Policy.CanWrite)).Succeeded)
                        {
                            <a asp-action="Edit" asp-route-id="@survey.Id" title="Edit Survey" class="btn btn-outline-primary btn-sm">
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                        }
                        @if (survey.IsPublished && !survey.IsClosed)
                        {
                            <button class="btn btn-outline-primary btn-sm ms-2 link" title="Copy Survey Link" data-id="@survey.Id">
                                <i class="bi bi-link"></i>
                            </button>
                            <button class="btn btn-outline-primary btn-sm ms-2 qr" title="QR Code" data-id="@survey.Id">
                                <i class="bi bi-qr-code"></i>
                            </button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div id="toast" class="toast position-fixed top-50 start-50 translate-middle" role="alert">
    <div class="toast-header">
        <strong>Survey link copied to clipboard</strong>
    </div>
    <div class="toast-body"><code id="surveyLink"></code></div>
</div>

<div id="qr-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <code id="qr-link" class="modal-title"></code>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <canvas id="qr-code"></canvas>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
    <script>
        $(function() {
            $(".link").click(function() {
                var url = window.location.origin + "/survey/response/edit?surveyId=" + $(this).attr("data-id");
                navigator.clipboard.writeText(url);
                $("#surveyLink").text(url);
                var toast = new bootstrap.Toast($("#toast"), { delay: 3000 });
                toast.show();
            });
            $(".qr").click(function() {
                var url = window.location.origin + "/survey/response/edit?surveyId=" + $(this).attr("data-id");
                $("#qr-link").text(url);
                var qrCode = new QRious({
                    element: document.getElementById('qr-code'),
                    value: url,
                    size: 400
                });
                var qrModal = new bootstrap.Modal($("#qr-modal"));
                qrModal.show();
            });
        });
    </script>
}