@inject IAuthorizationService AuthorizationService
@model Survey
@{
    ViewData["Title"] = "View Survey";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item d-none d-lg-block"><a asp-controller="Survey" asp-action="Index">Surveys</a></li>
        <li class="breadcrumb-item active">@Model.Name</li>
    </ol>
</nav>

<div class="row row-cols-2 row-cols-md-4 g-4 mb-3">
    <div class="col">
        <div class="card h-100">
            <div class="card-header text-bg-info">Publish <span class="d-none d-md-inline">Date</span></div>
            <div class="card-body">
                @if (Model.TimePublished.HasValue)
                {
                    var color = Model.IsPublished ? "" : "text-warning";
                    <span class="@color">@Model.TimePublished?.ToLocalTime().ToString("d")</span>
                }
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-header text-bg-info">Close <span class="d-none d-md-inline">Date</span></div>
            <div class="card-body">
                @if (Model.TimeClosed.HasValue)
                {
                    var color = Model.IsClosed ? "" : "text-warning";
                    <span class="@color">@Model.TimeClosed?.ToLocalTime().ToString("d")</span>
                }
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card h-100">
            <div class="card-header text-bg-info">Operations</div>
            <div class="card-body">
                @if (Model.ResponseCount > 0)
                {
                    <a asp-controller="Response" asp-action="Index" asp-route-surveyId="@Model.Id" title="Responses"
                       class="btn btn-outline-primary btn-sm me-2">
                        <span class="badge text-bg-secondary">@Model.ResponseCount</span>
                    </a>
                    <a asp-controller="Response" asp-action="Excel" asp-route-surveyId="@Model.Id" title="Export Responses"
                       class="btn btn-outline-primary btn-sm me-2"><i class="bi bi-file-earmark-spreadsheet-fill"></i></a>
                }
                @if (Model.IsPublished && !Model.IsClosed)
                {
                    <button class="btn btn-outline-primary btn-sm me-2 link" title="Copy Survey Link">
                        <i class="bi bi-link"></i>
                    </button>
                    <button class="btn btn-outline-primary btn-sm me-2 qr" title="QR Code">
                        <i class="bi bi-qr-code"></i>
                    </button>
                }
                @if ((await AuthorizationService.AuthorizeAsync(User, Constants.Policy.CanWrite)).Succeeded)
                {
                    <button id="clone" class="btn btn-outline-primary btn-sm me-2" title="Clone Survey">
                        <i class="bi bi-layers-fill"></i>
                    </button>
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary btn-sm" title="Edit Survey">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                }
            </div>
        </div>
    </div>
</div>

<div class="rounded bg-secondary p-3 mb-3">@Html.Raw(Model.Description)</div>

@{
    var index = 0;
}
@foreach (var question in ViewBag.Questions)
{
    if (question.Type == QuestionType.Section)
    {
        <div class="rounded bg-secondary p-3 mb-3">
            @Html.Raw(question.Description)
        </div>
    }
    else
    {
        <div class="card mb-3">
            <div class="card-header d-flex align-items-center">
                @if (question.Type != QuestionType.Section)
                {
                    <span>@(++index)</span>
                }
            </div>
            <div class="card-body">
                <div class="card-title">@Html.Raw(question.Description)</div>
                @if (question.Type == QuestionType.Choice)
                {
                    <ul class="list-group list-group-flush">
                        @foreach (var choice in question.Choices)
                        {
                            <li class="list-group-item">
                                @if (question.MaxSelection == 1)
                                {
                                    <input type="radio" name="q-name-@question.Id">
                                }
                                else
                                {
                                    <input type="checkbox">
                                }
                                @choice
                            </li>
                        }
                    </ul>
                }
                else if (question.Type == QuestionType.Rating)
                {
                    @question.MinRating
                    @for (int i = question.MinRating; i <= question.MaxRating; ++i)
                    {
                        <input type="radio" name="q-@question.Index">
                    }
                    @question.MaxRating

                    if (question.IncludeNotApplicable)
                    {
                        <input class="ms-3" type="checkbox" name="q-@question.Index-na"> <text>N/A</text>
                    }
                }
                else if (question.TextLength <= 60)
                {
                    <input type="text" class="form-control">
                }
                else
                {
                    <textarea class="form-control" rows="@(Math.Ceiling(question.TextLength/60.0))"></textarea>
                }
            </div>
        </div>
    }
}

<div id="toast" class="toast position-fixed top-50 start-50 translate-middle" role="alert">
    <div class="toast-header">
        <strong>Survey link copied to clipboard</strong>
    </div>
    <div class="toast-body"><code id="surveyLink"></code></div>
</div>

<div id="qr-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <code id="qr-link" class="modal-title"></code>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <canvas id="qr-code"></canvas>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
    <script>
        $(function () {
            $(".link").click(function () {
                var url = window.location.origin + "/survey/response/edit?surveyId=@Model.Id";
                navigator.clipboard.writeText(url);
                $("#surveyLink").text(url);
                var toast = new bootstrap.Toast($("#toast"), { delay: 3000 });
                toast.show();
            });
            $(".qr").click(function () {
                var url = window.location.origin + "/survey/response/edit?surveyId=@Model.Id";
                $("#qr-link").text(url);
                var qrCode = new QRious({
                    element: document.getElementById('qr-code'),
                    value: url,
                    size: 400
                });
                var qrModal = new bootstrap.Modal($("#qr-modal"));
                qrModal.show();
            });
            $("#clone").click(function () {
                if (confirm("Do you want to clone this survey?"))
                    window.location.href = "../clone/@Model.Id";
            });
        });
    </script>
}