@model ProgramModule
@{
    ViewData["Title"] = "Edit Program Module";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Program" asp-action="Index">Programs</a></li>
        <li class="breadcrumb-item">
            <a asp-controller="Program" asp-action="View" asp-route-id="@ViewBag.Program.Id">@ViewBag.Program.Name</a>
        </li>
        <li class="breadcrumb-item active me-auto">Edit Module</li>
        <li>
            <button id="delete" class="btn btn-outline-danger btn-sm" title="Delete Module" data-id="@Model.Id">
                <i class="bi bi-trash-fill"></i>
            </button>
        </li>
    </ol>
</nav>

<form method="post">
    <div class="form-floating mb-3">
        <input asp-for="Name" class="form-control" placeholder="Name">
        <label asp-for="Name"></label>
    </div>
    <a class="btn btn-secondary me-2" asp-controller="Program" asp-action="View" asp-route-id="@ViewBag.Program.Id">Cancel</a>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<div class="card mt-3">
    <div class="card-header">Items</div>
    <ul class="list-group list-group-flush">
        @foreach (var resource in ViewBag.Resources)
        {
            <li class="list-group-item list-group-item-action d-flex align-items-center">
                @if (resource.Type == ResourceType.Page)
                {
                    <span>@resource.Page.Subject</span>
                }
                else if (resource.Type == ResourceType.File)
                {
                    <span>@resource.File.Name</span>
                }
                <div class="btn-toolbar ms-auto" role="toolbar">
                    <div class="btn-group me-2" role="group">
                        <a asp-controller="Resource" asp-action="Delete" asp-route-id="@resource.Id" title="Delete Item"
                       class="btn btn-outline-danger btn-sm">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </div>
                    <div class="btn-group" role="group">
                        <a asp-controller="Resource" asp-action="MoveUp" asp-route-id="@resource.Id" title="Move Up"
                       class="btn btn-outline-primary btn-sm">
                            <i class="bi bi-caret-up-fill"></i>
                        </a>
                        <a asp-controller="Resource" asp-action="MoveDown" asp-route-id="@resource.Id" title="Move Down"
                       class="btn btn-outline-primary btn-sm">
                            <i class="bi bi-caret-down-fill"></i>
                        </a>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>

<div class="input-group mt-3">
    <div class="input-group-text">
        <select id="resourceType" class="form-select">
            <option value="file">File</option>
            <option value="page">Page</option>
        </select>
    </div>
    <input id="search" type="text" class="form-control" placeholder="Search files or pages to add to the module" />
</div>

@section Scripts{
    <script src="~/js/autocomplete.js" asp-append-version="true"></script>
    <script>
        $(function () {
            const field = document.getElementById("search");
            const ac = new Autocomplete(field, {
                onInput: function () {
                    var resourceType = $("#resourceType").val();
                    $.ajax({
                        url: `/${resourceType}/autocomplete`,
                        data: { searchText: $("#search").val() },
                        success: function (results) {
                            if (resourceType == "page")
                                ac.setData(results.map(r => ({ label: r.subject, value: r.id })));
                            else
                                ac.setData(results.map(r => ({ label: r.name, value: r.id })));
                        }
                    })
                },
                onSelectItem: ({ label, value }) => {
                    var resourceType = $("#resourceType").val();
                    window.location.href = `../../resource/add?moduleId=@(Model.Id)&contentId=${value}&type=${resourceType}`;
                }
            });
            $("#resourceType").change(function () {
                $("#search").val("");
                ac.setData([]);
            });
            $("#delete").click(function () {
                if (confirm("Are you sure you want to delete this module?"))
                    window.location.href = "../delete/" + $(this).attr("data-id");
            })
        });
    </script>
}