@model ProgramModule
@{
    ViewData["Title"] = "Edit Program Module";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Program" asp-action="Index">Programs</a></li>
        <li class="breadcrumb-item">
            <a asp-controller="Program" asp-action="View" asp-route-id="@ViewBag.Program.Id">@ViewBag.Program.Name</a>
        </li>
        <li class="breadcrumb-item"><a asp-action="Index" asp-route-programId="@ViewBag.Program.Id">Modules</a></li>
        <li class="breadcrumb-item active me-auto">Edit</li>
        <li>
            <button id="delete" class="btn btn-outline-danger btn-sm" title="Delete Module">
                <i class="bi bi-trash-fill"></i>
            </button>
        </li>
    </ol>
</nav>

<form method="post">
    <div class="form-floating mb-3">
        <input asp-for="Name" class="form-control" placeholder="Name">
        <label asp-for="Name"></label>
    </div>
    <a class="btn btn-secondary me-2" asp-action="Index" asp-route-programId="@ViewBag.Program.Id">Cancel</a>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<div class="card mt-3">
    <div class="card-header">Items</div>
    <ul class="list-group">
        @foreach (var item in Model.Items)
        {
            <li class="list-group-item">
                @if (item.Type == ItemType.Page)
                {
                    <span>@item.Page.Subject</span>
                }
                else if (item.Type == ItemType.File)
                {
                    <span>@item.File.Name</span>
                }
            </li>
        }
    </ul>
</div>

<div class="input-group mt-3">
    <div class="input-group-text">
        <select id="itemType" class="form-select">
            <option value="page">Page</option>
            <option value="file">File</option>
        </select>
    </div>
    <input id="search" type="text" class="form-control" />
</div>

@section Scripts{
    <script src="~/js/autocomplete.js" asp-append-version="true"></script>
    <script>
        $(function () {
            const field = document.getElementById("search");
            const ac = new Autocomplete(field, {
                onInput: function () {
                    var itemType = $("#itemType").val();
                    $.ajax({
                        url: `/${itemType}/autocomplete`,
                        data: { searchText: $("#search").val() },
                        success: function (results) {
                            if (itemType == "page")
                                ac.setData(results.map(r => ({ label: r.subject, value: r.id })));
                            else
                                ac.setData(results.map(r => ({ label: r.name, value: r.id })));
                        }
                    })
                },
                onSelectItem: ({ label, value }) => {
                    // window.location.href = `person/view/${value}`;
                    console.log(label + " " + value);
                }
            });
            $("#itemType").change(function () {
                $("#search").val("");
                ac.setData([]);
            });
        });
    </script>
}