@model List<ProgramModule>
@{
    ViewData["Title"] = "Program Modules";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Program" asp-action="Index">Programs</a></li>
        <li class="breadcrumb-item">
            <a asp-controller="Program" asp-action="View" asp-route-id="@ViewBag.Program.Id">@ViewBag.Program.Name</a>
        </li>
        <li class="breadcrumb-item active me-auto">Modules</li>
        <li>
            <a asp-action="Add" asp-route-programId="@ViewBag.Program.Id"
               class="btn btn-outline-primary btn-sm" title="Modules">
                <i class="bi bi-plus-lg"></i>
            </a>
        </li>
    </ol>
</nav>

@foreach (var module in Model)
{
    <div id="m-id-@module.Id" class="card mb-3">
        <div class="card-header d-flex align-items-center">
            <span>@module.Name</span>
            <div class="btn-group ms-auto" role="group">
                <a asp-action="MoveUp" asp-route-id="@module.Id" title="Move Up" class="btn btn-outline-primary btn-sm">
                    <i class="bi bi-caret-up-fill"></i>
                </a>
                <a asp-action="MoveDown" asp-route-id="@module.Id" title="Move Down" class="btn btn-outline-primary btn-sm">
                    <i class="bi bi-caret-down-fill"></i>
                </a>
                <a asp-action="Edit" asp-route-id="@module.Id" title="Edit" class="btn btn-outline-primary btn-sm">
                    <i class="bi bi-pencil-fill"></i>
                </a>
            </div>
        </div>
        @if (ViewBag.Items.ContainsKey(module.Id))
        {
            <ul class="list-group list-group-flush">
                @foreach (var item in ViewBag.Items[module.Id])
                {
                    <li class="list-group-item d-flex align-items-center">
                        @if (item.Type == ItemType.Page)
                        {
                            <span>@item.Page.Subject</span>
                        }
                        else if (item.Type == ItemType.File)
                        {
                            <span>@item.File.Name</span>
                        }
                        <div class="btn-toolbar ms-auto" role="toolbar">
                            <div class="btn-group me-2" role="group">
                                <button class="delete btn btn-outline-danger btn-sm" data-id="@item.Id" title="Delete Item">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </div>
                            <div class="btn-group" role="group">
                                <a asp-action="MoveUp" asp-route-id="@item.Id" title="Move Up" class="btn btn-outline-primary btn-sm">
                                    <i class="bi bi-caret-up-fill"></i>
                                </a>
                                <a asp-action="MoveDown" asp-route-id="@item.Id" title="Move Down" class="btn btn-outline-primary btn-sm">
                                    <i class="bi bi-caret-down-fill"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        }
    </div>
}
