@model Section
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "View Section";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-route-termCode="@Model.Term.Code">Sections</a></li>
        <li class="breadcrumb-item active me-auto">@Model.Course.Code, @Model.Term.Name</li>
        @if ((await AuthorizationService.AuthorizeAsync(User, Constants.Policy.CanWrite)).Succeeded)
        {
            <li>
                <button id="delete" class="btn btn-outline-danger btn-sm" title="Delete Section">
                    <i class="bi bi-trash-fill"></i>
                </button>
            </li>
        }
    </ol>
</nav>

<div class="row">
    <div class="d-none d-md-block col-md-3">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                @Model.Term.Name
                <a asp-controller="Import" asp-action="Grades" asp-route-termCode="@Model.Term.Code"
                   class="btn btn-outline-secondary btn-sm"><i class="bi bi-upload"></i></a>
            </div>
            <div class="card-body">
                <div id="sidebar" style="max-height: 75vh; overflow-y: auto;">
                    <div class="d-flex flex-column align-items-stretch flex-shrink-0">
                        <div class="list-group list-group-flush border-bottom">
                            @foreach (var s in ViewBag.Sections)
                            {
                                <a asp-action="View" asp-route-id="@s.Id"
                               class="list-group-item list-group-item-action py-3 lh-sm @(s.Id == Model.Id ? "active" : "")">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <strong class="mb-1">@s.Course.Code</strong>
                                    </div>
                                    <div class="small d-none d-lg-block">@s.Instructor.FullName</div>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <span>@Model.Course.Code</span>
                <span>Students: @ViewBag.Enrollments.Count</span>
                <span>@Model.Instructor.FullName</span>
            </div>
            <div class="card-body">
                <table class="table table-striped border-top">
                    <thead>
                        <tr><th>CIN</th><th>Student</th><th>Grade</th></tr>
                    </thead>
                    <tbody>
                        @foreach (var enrollment in ViewBag.Enrollments)
                        {
                            <tr>
                                <td>@enrollment.Student.CampusId</td>
                                <td>
                                    <a asp-controller="Person" asp-action="View" asp-route-id="@enrollment.Student.Id">
                                        @enrollment.Student.FullName2
                                    </a>
                                </td>
                                <td>@enrollment.GradeSymbol</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section StyleSheets{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.css" />
}
    @section Scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
    <script>
        $(function () {
            var top = $("a.active").offset().top;
            $("#sidebar").scrollTop(top - 400);
            $("#delete").click(function () {
                if (confirm("Do you want to delete this section?"))
                    window.location.href = "../delete/@Model.Id";
            });
            $("table").DataTable({
                paging: false,
                info: false,
                searching: false,
                order: []
            });
        });
    </script>
}