@inject IAuthorizationService AuthorizationService
@model Project
@{
    ViewData["Title"] = "Project";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item d-none d-lg-block">
            <a asp-controller="Project" asp-action="Index" asp-route-year="@Model.AcademicYear">Projects</a>
        </li>
        <li class="breadcrumb-item d-none d-lg-block active me-auto">@Model.Title</li>
        @if ((await AuthorizationService.AuthorizeAsync(User, Model.Id, Constants.Policy.CanManageProject)).Succeeded)
        {
            <li class="d-none d-lg-block">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary btn-sm" title="Edit Project">
                    <i class="bi bi-pencil-fill"></i>
                </a>
            </li>
        }
    </ol>
</nav>

<h5 class="text-center">@Model.Title</h5>

<div class="row p-3">@Html.Raw(Model.Description)</div>

<div class="row g-2">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Student Team</div>
            <ul class="list-group list-group-flush">
                @foreach (var student in Model.Students)
                {
                    <li class="list-group-item">@student.Person.FullName</li>
                }
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-2">
            <div class="card-header">Project Sponsor</div>
            <div class="card-body">@Model.Sponsor</div>
        </div>
        <div class="card mb-2">
            <div class="card-header">Project Liaisons</div>
            <ul class="list-group list-group-flush">
                @foreach (var liaison in Model.Liaisons)
                {
                    <li class="list-group-item">@liaison.Person.FullName</li>
                }
            </ul>
        </div>

        <div class="card">
            <div class="card-header d-flex align-items-center">Faculty Advisors</div>
            <ul class="list-group list-group-flush">
                @foreach (var advisor in Model.Advisors)
                {
                    <li class="list-group-item">@advisor.Person.FullName</li>
                }
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <span>Resources</span>
                @if ((await AuthorizationService.AuthorizeAsync(User, Model.Id, Constants.Policy.CanManageProject)).Succeeded)
                {
                    <a asp-controller="Resource" asp-action="Index" asp-route-projectId="@Model.Id"
                   class="btn btn-outline-primary btn-sm ms-auto" title="Edit Resources">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                }
            </div>
            <ul class="list-group list-group-flush">
                @foreach (var resource in Model.Resources)
                {
                    <li class="list-group-item d-flex">
                        @if (resource.IsPrivate)
                        {
                            <i class="bi bi-lock-fill me-2"></i>
                        }
                        @switch (resource.Type)
                        {
                            case ResourceType.Text:
                                <text>@resource.Name</text>
                                break;
                            case ResourceType.Url:
                                <a asp-controller="Resource" asp-action="Get" asp-route-id="@resource.Id">@resource.Name</a>
                                break;
                            case ResourceType.File:
                                <a asp-controller="Resource" asp-action="Get" asp-route-id="@resource.Id" asp-route-inline="true"
                       class="me-auto" style="z-index: 3">@resource.Name</a>
                                <a asp-controller="Resource" asp-action="Get" asp-route-id="@resource.Id"
                       class="btn btn-outline-primary btn-sm stretched-link">
                                    <i class="bi bi-download"></i>
                                </a>
                                break;
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
