@inject IAuthorizationService AuthorizationService
@model List<MftScoreStat>
@{
    ViewData["Title"] = "MFT - Individual Scores";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">MFT</a></li>
        <li class="breadcrumb-item active me-auto">Scores</li>
        @if ((await AuthorizationService.AuthorizeAsync(User, Constants.Policy.CanWrite)).Succeeded)
        {
            <li>
                <a asp-action="UpdatePercentiles" asp-route-year="@ViewBag.Year" class="btn btn-outline-primary btn-sm"
               title="Update Percentiles">
                    <i class="bi bi-percent"></i>
                </a>
            </li>
            <li>
                <a asp-action="Add" class="btn btn-outline-primary btn-sm ms-2" title="Add Scores">
                    <i class="bi bi-plus-lg"></i>
                </a>
            </li>
        }
        <li class="btn btn-outline-primary btn-sm ms-2" title="Charts">
            <a asp-action="Charts"><i class="bi bi-bar-chart-line-fill"></i></a>
        </li>
    </ol>
</nav>

@if (Model.Count > 0)
{
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr><th>Year</th><th>Students</th><th>Mean</th><th>Median</th><th>Institution</th></tr>
                </thead>
                <tbody>
                    @foreach (var stat in Model)
                    {
                        <tr class="@(stat.Year == ViewBag.Year ? "table-success" : "")">
                            @if (stat.Year == ViewBag.Year)
                            {
                                <td>@stat.Year</td>
                            }
                            else
                            {
                                <td><a asp-action="Index" asp-route-year="@stat.Year">@stat.Year</a></td>
                            }
                            <td>@stat.Count</td>
                            <td>@stat.Mean (@stat.MeanPercentile)</td>
                            <td>@stat.Median (@stat.MedianPercentile)</td>
                            <td>(@stat.InstitutionPercentile)</td>
                        </tr>
                    }
                </tbody>
            </table>
            <p class="text-muted">Institution percentile is based on the mean score of the students.</p>
        </div>
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr><th class="d-none d-lg-table-cell">CIN</th><th>Name</th><th>Score</th></tr>
                </thead>
                <tbody>
                    @foreach (var score in ViewBag.Scores)
                    {
                        <tr>
                            <td class="d-none d-lg-table-cell">@score.StudentId</td>
                            <td>@score.FirstName @score.LastName</td>
                            <td>@score.Score (@score.Percentile)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
