@model Dictionary<Course,List<AssessmentSection>>
@{
    ViewData["Title"] = "Rubric Assessment Data";
}
<nav class="d-none d-md-block">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Rubric" asp-action="Index">Rubrics</a></li>
        <li class="breadcrumb-item"><a asp-controller="Rubric" asp-action="View" asp-route-id="@ViewBag.Rubric.Id">@ViewBag.Rubric.Name</a></li>
        <li class="breadcrumb-item active">Assessments</li>
    </ol>
</nav>

<table class="table">
    <tr><th>Course</th><th>Sections</th></tr>
    @foreach (var course in Model.Keys)
    {
        <tr>
            <td><a asp-action="Course" asp-route-rubricId="@ViewBag.Rubric.Id" asp-route-courseId="@course.Id">@course.Code</a></td>
            <td>
                @foreach (var assessmentTerm in Model[course])
                {
                    <a asp-action="Section" asp-route-rubricId="@ViewBag.Rubric.Id" asp-route-courseId="@course.Id"
               asp-route-termCode="@assessmentTerm.TermCode">@assessmentTerm.Term.ShortName</a>
                }
            </td>
        </tr>
    }
</table>