@inject IAuthorizationService AuthorizationService
@model Program
@{
    ViewData["Title"] = "View Program";
    var maxShowCount = 6;
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item d-none d-lg-block"><a asp-controller="Program" asp-action="Index">Programs</a></li>
        <li class="breadcrumb-item active me-auto">@Model.Name</li>
        @if ((await AuthorizationService.AuthorizeAsync(User, Constants.Policy.CanWrite)).Succeeded)
        {
            <li class="d-none d-lg-block">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary btn-sm" title="Edit Program">
                    <i class="bi bi-pencil-fill"></i>
                </a>
            </li>
        }
    </ol>
</nav>

<div class="row row-cols-1 row-cols-lg-2 g-4">
    @if (Model.HasObjectives)
    {
        <div class="col">
            <div class="card h-100">
                <div class="card-header d-flex align-items-center">
                    <span>Program Educational Objectives (PEO)</span>
                    <div class="btn-group ms-auto" role="group">
                        <a asp-action="Objectives" asp-route-id="@Model.Id" title="Details" class="btn btn-outline-primary btn-sm">
                            <i class="bi bi-three-dots"></i>
                        </a>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    @for (int i = 0; i < Model.Objectives.Count; ++i)
                    {
                        <li class="list-group-item">@(i + 1). @Model.Objectives[i]</li>
                    }
                </ul>
            </div>
        </div>
    }

    <div>
        <div class="card h-100">
            <div class="card-header">Student Outcomes (SO)</div>
            <ul class="list-group list-group-flush">
                @for (int i = 0; i < Model.Outcomes.Count; ++i)
                {
                    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        <div class="me-auto">@(i + 1). @Model.Outcomes[i].Text</div>
                        <a asp-action="Outcome" asp-route-id="@Model.Id" asp-route-index="@i" title="Details"
                       class="btn btn-outline-primary btn-sm ms-2">
                            <i class="bi bi-three-dots"></i>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>

    @foreach (var module in ViewBag.Modules)
    {
        <div>
            <div id="m-id-@module.Id" class="card h-100">
                <div class="card-header">@module.Name</div>
                @if (ViewBag.Items.ContainsKey(module.Id))
                {
                    <ul class="list-group list-group-flush">
                        @{
                            var count = 0;
                        }
                        @foreach (var item in ViewBag.Items[module.Id])
                        {
                            if (count++ < maxShowCount)
                            {
                                <li class="list-group-item list-group-item-action d-flex align-items-center">
                                    @if (item.Type == ItemType.Page)
                                    {
                                        <a asp-area="" asp-controller="Page" asp-action="View" asp-route-id="@item.PageId">
                                            @item.Page.Subject
                                        </a>
                                    }
                                    else if (item.Type == ItemType.File)
                                    {
                                        <a asp-area="" asp-controller="File" asp-action="View" asp-route-id="@item.File.Id">
                                            @item.File.Name
                                        </a>
                                        <a asp-area="" asp-controller="File" asp-action="Download" asp-route-id="@item.File.Id"
                       class="btn btn-outline-primary btn-sm ms-auto">
                                            <i class="bi bi-download"></i>
                                        </a>
                                    }
                                </li>
                            }
                        }
                    </ul>
                    @if (module.ItemCount > maxShowCount)
                    {
                        <div class="card-body">
                            <a asp-controller="Module" asp-action="View" asp-route-id="@module.Id" class="btn btn-primary">More</a>
                        </div>
                    }
                }
            </div>
        </div>
    }
</div>