@model SampleStudentInputModel
@{
    ViewData["Title"] = "Course Journal - Sample Students";
    var journal = (CourseJournal)ViewBag.CourseJournal;
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Course Journals</a></li>
        <li class="breadcrumb-item"><a asp-action="View" asp-route-id="@journal.Id">@journal.Course.Code @journal.Term.ShortName</a></li>
        <li class="breadcrumb-item active">Sample Students</li>
    </ol>
</nav>

<ul class="list-group mb-3">
    @foreach (var student in journal.SampleStudents)
    {
        <li class="list-group-item list-group-item-action d-flex align-items-center">
            <a href="@student.Url">@student.Name (@student.Grade)</a>
            <a asp-action="RemoveStudent" asp-route-id="@student.Id" title="Remove Student"
               class="btn btn-outline-danger btn-sm ms-auto">
                <i class="bi bi-trash-fill"></i>
            </a>
        </li>
    }
</ul>

<form asp-action="AddStudent" method="post">
    <div class="row">
        <div class="col-md-4">
            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" required>
                <label asp-for="Name"></label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-floating mb-3">
                <input asp-for="Grade" class="form-control">
                <label asp-for="Grade"></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input asp-for="Url" class="form-control" required>
                <label asp-for="Url"></label>
            </div>
        </div>
        <div class="col-12">
            <input asp-for="CourseJournalId" type="hidden" value="@journal.Id" />
            <a class="btn btn-secondary me-2" asp-action="View" asp-route-id="@journal.Id">Back</a>
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
</form>
