@model CourseJournal
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "View Course Journal";
    var courseJournals = (List<CourseJournal>)ViewBag.CourseJournals;
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Course Journals</a></li>
        <li class="breadcrumb-item active me-auto">@Model.Course.Code, @Model.Term.ShortName</li>
        @if ((await AuthorizationService.AuthorizeAsync(User, Constants.Policy.CanWrite)).Succeeded)
        {
            <li>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary btn-sm" title="Edit Course Journal">
                    <i class="bi bi-pencil-fill"></i>
                </a>
            </li>
        }
    </ol>
</nav>

<div class="row">
    <div id="sidebar" class="d-none d-md-block col-md-2 col-lg-4" style="max-height: 80vh; overflow-y: auto;">
        <div class="d-flex flex-column align-items-stretch flex-shrink-0">
            <div class="list-group list-group-flush border-bottom">
                @foreach (var courseJournal in courseJournals)
                {
                    <a asp-action="View" asp-route-id="@courseJournal.Id"
                       class="list-group-item list-group-item-action py-3 lh-sm @(courseJournal.Id == Model.Id ? "active" : "")">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">@courseJournal.Course.Code</strong>
                        </div>
                        <div class="small d-none d-lg-block">@courseJournal.Course.Title</div>
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row g-3">
            <div class="col-6 col-md-3">
                <div class="form-floating">
                    <div class="form-control">@Model.Course.Subject</div>
                    <label>Subject</label>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="form-floating">
                    <div class="form-control">@Model.Course.Number</div>
                    <label>Number</label>
                </div>
            </div>
            <div class="col-4 col-md-2">
                <div class="form-floating">
                    <div class="form-control">@Model.Course.Units</div>
                    <label>Units</label>
                </div>
            </div>
            <div class="col-8 col-md-4">
                <div class="form-floating">
                    @if (Model.Course.AbetSyllabusId != null)
                    {
                        <div class="form-control">
                            <a asp-controller="File" asp-action="View" asp-route-id="@Model.Course.AbetSyllabusId" class="me-2">View</a>
                            <a asp-controller="File" asp-action="Download" asp-route-id="@Model.Course.AbetSyllabusId">Download</a>
                        </div>
                    }
                    else
                    {
                        <div class="form-control"></div>
                    }
                    <label>ABET Syllabus</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    <div class="form-control" style="height: auto;">@Model.Course.Title</div>
                    <label>Title</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    <div class="form-control" style="height: auto;">@Model.Course.CatalogDescription</div>
                    <label>Catalog Description</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <div class="form-control">@Model.Term.Name</div>
                    <label>Term</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <div class="form-control">@Model.Instructor.FullName</div>
                    <label>Instructor</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <div class="form-control">
                        <a href="@Model.CourseUrl" target="_blank">@Model.CourseUrl</a>
                    </div>
                    <label>Course URL</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <div class="form-control">
                        <a href="@Model.SyllabusUrl" target="_blank">@Model.SyllabusUrl</a>
                    </div>
                    <label>Syllabus URL</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    <div class="form-control">
                        <a href="@Model.SampleStudentAUrl" target="_blank">Student A</a>,
                        <a href="@Model.SampleStudentBUrl" target="_blank">Student B</a>,
                        <a href="@Model.SampleStudentCUrl" target="_blank">Student C</a>
                    </div>
                    <label>Sample Students</label>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            var top = $("a.active").offset().top;
            $("#sidebar").scrollTop(top - 200);
        });
    </script>
}