@model GroupInputModel
@{
    ViewData["Title"] = "Edit Group";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Group</a></li>
        <li class="breadcrumb-item"><a asp-action="View" asp-route-id="@ViewBag.Group.Id">@ViewBag.Group.Name</a></li>
        <li class="breadcrumb-item active me-auto">Edit</li>
        <li>
            <button id="delete" class="btn btn-outline-danger btn-sm" title="Delete Group">
                <i class="bi bi-trash-fill"></i>
            </button>
        </li>
    </ol>
</nav>

<form method="post">
    <div class="form-floating mb-3">
        <input asp-for="Name" class="form-control" placeholder="Name" required>
        <label asp-for="Name"></label>
    </div>
    <div class="form-floating mb-3">
        <textarea asp-for="Description" class="form-control" placeholder="Description" style="height: 100px"></textarea>
        <label asp-for="Description"></label>
    </div>
    <div class="form-floating mb-3">
        <select asp-for="EmailPreference" asp-items="Html.GetEnumSelectList<EmailPreference>()" class="form-select"></select>
        <label asp-for="EmailPreference"></label>
    </div>
    <a class="btn btn-secondary me-2" asp-action="View" asp-route-id="@ViewBag.Group.Id">Cancel</a>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<div class="input-group mt-4 mb-3">
    <input id="search" name="searchText" class="form-control" placeholder="Search people to add">
    <span class="input-group-text"><i class="bi bi-search"></i></span>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="d-none d-md-table-cell">CIN</th>
            <th>Name</th>
            <th class="d-none d-lg-table-cell">School Email</th>
            <th class="d-none d-lg-table-cell">Personal Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in ViewBag.Members)
        {
            <tr>
                <td class="d-none d-md-table-cell">@member.CampusId</td>
                <td>@member.FullName</td>
                <td class="d-none d-lg-table-cell">@member.SchoolEmail</td>
                <td class="d-none d-lg-table-cell">@member.PersonalEmail</td>
                <td>
                    <a asp-action="RemoveMember" asp-route-id="@ViewBag.Group.Id" asp-route-personId="@member.Id"
                   class="btn btn-outline-danger btn-sm" title="Delete Member">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts  {
    <script src="~/js/autocomplete.js" asp-append-version="true"></script>
    <script>
        $(function () {
            $("#delete").click(function () {
                if (confirm("Do you want to delete this group?"))
                    window.location.href = "../delete/@ViewBag.Group.Id";
            });
            const field = document.getElementById("search");
            const ac = new Autocomplete(field, {
                onInput: function () {
                    $.ajax({
                        url: "/person/autocomplete",
                        data: { searchText: $("#search").val() },
                        success: results => ac.setData(results.map(r =>
                            ({ label: r.campusId + " " + r.fullName, value: r.id })))
                    })
                },
                onSelectItem: ({ label, value }) => {
                    window.location.href = "../addmember/@ViewBag.Group.Id?personId=" + value;
                }
            });
        });
    </script>
}