@model Group
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "View Group";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Groups</a></li>
        <li class="breadcrumb-item active me-auto">@Model.Name</li>
        @if ((await AuthorizationService.AuthorizeAsync(User, Constants.Policy.CanWrite)).Succeeded)
        {
            <li>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary btn-sm" title="Edit Group">
                    <i class="bi bi-pencil-fill"></i>
                </a>
            </li>
        }
    </ol>
</nav>

<span class="badge text-bg-success">Prefer @Model.EmailPreference.ToString() Email</span>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th class="d-none d-md-table-cell">CIN</th>
            <th>Name</th>
            <th class="d-none d-lg-table-cell">School Email</th>
            <th class="d-none d-lg-table-cell">Personal Email</th>
            <th class="d-lg-none">Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in ViewBag.Members)
        {
            <tr>
                <td class="d-none d-md-table-cell">@member.CampusId</td>
                <td>@member.FullName</td>
                <td class="d-none d-lg-table-cell">@member.SchoolEmail</td>
                <td class="d-none d-lg-table-cell">@member.PersonalEmail</td>
                <td class="d-lg-none">@member.Email</td>
            </tr>
        }
    </tbody>
</table>